//- 部分テンプレート(1.部分テンプレートはファイル名の前に_をつけてわかりやすくする。例)_部分テンプレート名。2)使いたいファイルでincludeさせる)
//- 部分テンプレートはサイト内で共通で使われるメニューやヘッダー、フッターなどの共通ファイルのこと
.menu
    .menu__item
        a(href="/index.html") index.html
    .menu__item
        a(href="/access.html") access.html
    .menu__item
        a(href="/members/taro.html") taro.html
