// sassの特徴
//・ネストできる(cssの定義の中にcssを書くことができる)
//・変数が使える(例えばサイト内のテーマカラーを変数定義しておけば、後から変更になっても変数の内容を書き換えれば一括で変更できる)
//・@import(ビルドする際、別のcssをひとまとめにしてくれる)
// @extend(スタイルの拡張する機能、例えば.titleと.title-lgの２つのクラスがあり.title-lgはtitleのスタイルを継承して、フォントサイズだけ独自のサイズにしたい場合に使用)
// @mixinはjsでいう関数のようなもの

// @importでfooterのスタイルが書かれているcssを読み込む
@import "./footer.scss";

// @mixinを使ってmarginをセットする関数を定義
@mixin set-margin($direction, $value) {
  // $directionの引数にはtop/right/bottom/leftなどマージンを当てたい方向が引数にわたされる。文字列-#{$変数名}で文字を連結する
  // $valueにはmarginの値が入る
  margin-#{$direction}: $value;
}

body {
  color: lightblue;
}

//変数宣言
$text-color: orange;
// ネスト
.content {
  .title {
    font-size: 24px;
    color: $text-color;
  }
  .title-lg {
    // @extend(@extend 要素のスタイルがかかれたclassなど)
    // ここでは.titleのfont-size以外のスタイルを継承して、font-sizeだけ独自のスタイルを使用している
    // 例えばデザインは一緒で文字の大きさの違う見出しなどで@extendを使うと便利
    @extend .title;
    font-size: 32px;
  }
  // @mixinで定義したset-marginを呼び出す。※@include mixin名(引数)
  // 第一引数にrightは$direction、第二引数16pxは$valueに渡されて関数内の処理が行われる
  @include set-margin(right, 16px);
}
