// sassの特徴
//・ネストできる(cssの定義の中にcssを書くことができる)
//・変数が使える(例えばサイト内のテーマカラーを変数定義しておけば、後から変更になっても変数の内容を書き換えれば一括で変更できる)
//・@import(ビルドする際、別のcssをひとまとめにしてくれる)
// @extend(スタイルの拡張する機能、例えば.titleと.title-lgの２つのクラスがあり.title-lgはtitleのスタイルを継承して、フォントサイズだけ独自のサイズにしたい場合に使用)
// @mixinはjsでいう関数のようなもの

// @importでfooterとmenuのスタイルが書かれているcssを読み込む
//@importする.scssのファイル名は_(アンダースコア)がついているがimportする際は省略可能
@import "./menu.scss";
@import "./footer.scss";

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}

.container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em;
}

.main-image {
  background-image: url("../images/thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 2em;
  margin: 1em 0;
}

$icon-size: 64px;
.icon {
  width: $icon-size;
  height: $icon-size;
  border-radius: $icon-size / 2;
  padding: 4px;
  position: absolute;
  top: 1em;
  left: 1em;
}
